@charset "UTF-8";

.MiCuentaContainer{
	display:flex;
	flex-direction: column;
}

.MiCuentaContainer h1,
.MiCuentaContainer .ticket{
	align-self: center;
}

.cartelDeInicioSesion{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-self: center;	
}

.containerEntradas{
	display: flex;
	flex-direction: column;
	align-Items: center;
}

.btn-cancelar-entrada{
	display: flex;
    padding: 3px;
    background-color: #d9534f;
    border-color: #000000;
    height: 30px;
    align-self: flex-end;
    width: 120px;
    border-radius: 8px;
    justify-content: center;
    text-decoration: none;
    color: #000000;
}



